.ant-modal-close{
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 50% !important;
    /* padding: 10px !important; */
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.ant-modal-close-x{
    font-size: 23px !important;
}