.finance_consult_hero_box {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
  width: 70%;
  margin-right: auto;
}
.finance_consult_hero_box > h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 73px;
  line-height: 100%;
  color: #ffffff;
  z-index: 2;
}
.finance_consult_hero_box > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}


@media only screen and (max-width: 991px) {
  .finance_consult_hero_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .finance_consult_hero_box > h4 {
    font-size: 60px;
    text-align: center;
  }
}


@media only screen and (max-width: 512px) {
  .finance_consult_hero_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .finance_consult_hero_box > h4 {
    font-size: 50px;
    text-align: center;
  }
}

@media only screen and (max-width: 426px) {
  .finance_consult_hero_box > h4 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 378px) {
  .finance_consult_hero_box > h4 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .finance_consult_hero_box > h4 {
    font-size: 30px;
  }
}
